:root {
  --nav-bg: rgb(139, 164, 245);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}
h1,
h2,
h3 {
  font-weight: 400;
}
.container {
  width: 100%;
  max-width: 1040px;
  margin: auto;
  padding: 0 15px;
}
header {
  width: 100%;
  background: var(--nav-bg);
}
footer {
  text-align: center;
  margin-top: auto;
}
.nav {
  min-height: 15vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
.nav-title {
  text-transform: uppercase;
}
.nav-search {
  margin: auto;
  display: flex;
}
.nav-search__txt,
.nav-search__btn {
  border: none;
  padding: 10px;
  outline: none;
  font-family: inherit;
}
.nav-search__txt {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.nav-search__btn {
  cursor: pointer;
  text-transform: uppercase;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.nav-search__btn:active {
  background-color: rgb(56, 50, 50);
  color: #f8f8f8;
}
.result-title {
  text-align: center;
  padding: 20px 0;
}
.days-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 10px;
  margin: 10px 0;
}
.day-item {
  box-shadow: 0px 0px 5px rgba(56, 50, 50, 0.3);
  background: rgb(247, 243, 243);
  border-radius: 5px;
}
.day-item p {
  padding-left: 10px;
}
.day-item span {
  padding-left: 10px;
}
img {
  display: block;
  width: 50px;
  height: 50px;
}
.applicable-date {
  text-align: center;
}
.weather-state {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px 0;
}
